In [2]:
import pandas as pd
import numpy as np

In [4]:
s = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9])
s

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [28]:
dates = pd.date_range("20130101", periods=60)
print(data)

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06'],
              dtype='datetime64[ns]', freq='D')

In [29]:
df = pd.DataFrame(np.random.randn(60, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01 -1.048692  0.360386 -1.182854 -0.499491
2013-01-02 -0.194942  0.304742  0.893744 -1.019250
2013-01-03  0.642012  0.167656 -0.283195  1.580549
2013-01-04 -0.081463  0.644646  1.927785  1.350816
2013-01-05  0.828296 -1.521912  0.600602 -0.970191
2013-01-06 -0.350331  0.991172 -0.364632  0.970969
2013-01-07  0.299434 -0.676860 -0.880719  0.942826
2013-01-08  1.527862 -0.261892  0.705327 -0.935567
2013-01-09 -0.889601  0.436435  1.764064 -0.697631
2013-01-10 -0.113860 -2.052934  0.458640  0.367777
2013-01-11  0.903211 -0.819428  1.299887 -1.826804
2013-01-12  0.080294 -0.101340  0.234933 -0.088871
2013-01-13 -0.894262 -0.210642  0.597843  0.340589
2013-01-14  1.141337  0.452305  0.536042  1.272037
2013-01-15 -1.523068 -0.397982 -0.662080 -0.249909
2013-01-16 -0.125411 -0.558174  1.990749  0.869661
2013-01-17 -1.230760 -0.469251 -0.979736 -1.101495
2013-01-18 -1.492738  0.471557 -1.814862 -0.138009
2013-01-19  0.273343  0.237834 -1.332062  1.113781
2013-01-20  0.462282 -1.005387 -1.782063  1.519188
2013-01-21  0.478651  0.910996  1.019813  0.205877
2013-01-22  0.512735  0.155044 -0.451221  1.178256
2013-01-23 -0.269503  0.811580 -0.411260 -0.984629
2013-01-24 -0.482262 -0.920652  0.380710 -0.541678
2013-01-25  1.747126  2.329431  1.009250  0.181786
2013-01-26 -2.651046  1.924508 -0.641778  0.054732
2013-01-27  0.495310  0.298392  0.583549  0.806606
2013-01-28  0.762885  0.083151  0.302653  1.057569
2013-01-29  0.719775 -0.790044  0.268341  0.605734
2013-01-30  0.787511  0.059478 -0.918322  0.043392
2013-01-31 -1.075009  0.349270 -0.658481 -3.551978
2013-02-01 -0.651552  0.753103  0.755336 -0.367985
2013-02-02 -0.382574 -1.238266 -1.535562  1.053823
2013-02-03 -0.177889  1.195215  0.023972 -2.307316
2013-02-04  0.920207  1.016769  1.039693  0.635813
2013-02-05 -0.883971 -0.502534  0.314214 -0.034018
2013-02-06  1.755333 -0.165602 -0.771176 -1.672048
2013-02-07 -0.363732 -0.857836 -2.430368  0.133214
2013-02-08  0.616806  0.480986  1.204549  1.429324
2013-02-09 -1.376865  0.469851 -0.948811 -0.403872
2013-02-10 -1.024761 -1.171817  0.662265 -0.797526
2013-02-11  0.966923 -0.617622 -0.855421 -1.050602
2013-02-12 -0.151965  0.661601 -0.525792 -0.097716
2013-02-13 -0.452225  0.805266 -0.870471 -0.197903
2013-02-14 -1.293439 -0.445742  0.067354 -0.477575
2013-02-15 -1.479228  0.500932  0.737741  0.253602
2013-02-16 -0.221017 -0.652154  0.482777  0.062206
2013-02-17  2.007059  0.792010  0.175072 -0.417816
2013-02-18 -1.420869  0.937158  0.163281  0.808734
2013-02-19 -0.816749 -0.606515  0.098430  0.858969
2013-02-20 -0.094511 -1.618828 -0.412904 -0.593632
2013-02-21 -0.313688 -0.132398 -1.358137 -0.222714
2013-02-22  0.316908 -1.826872  0.003129 -0.848116
2013-02-23 -1.366507  1.656137  1.122894 -1.389160
2013-02-24 -1.110028 -1.278609  0.933644  0.371566
2013-02-25 -1.501011 -1.021694  3.618468 -1.440978
2013-02-26 -1.103397 -1.869983  0.001127 -0.365969
2013-02-27 -1.591436  1.150653  0.472344 -0.041762
2013-02-28  0.066886 -0.222444  0.092965  0.539387
2013-03-01 -1.436743 -0.365744 -0.020380 -0.273712

In [15]:
a = np.random.randn(6, 4)
a

array([[-0.85224589, -1.66940009, -0.77900488, -0.8807651 ],
       [ 0.76582266, -1.0852815 , -0.37344857,  1.14396658],
       [-0.51891274,  0.35047864,  0.59343092,  0.51780314],
       [-0.74082627,  0.30031385, -0.52263161, -1.54264004],
       [-0.01206622,  0.94096793,  0.39958303,  1.46521352],
       [-0.72547486,  0.04693598,  0.42025226, -1.68715284]])

In [20]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [21]:
df2.dtypes

A          float64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [30]:
df.head()

                   A         B         C         D
2013-01-01 -1.048692  0.360386 -1.182854 -0.499491
2013-01-02 -0.194942  0.304742  0.893744 -1.019250
2013-01-03  0.642012  0.167656 -0.283195  1.580549
2013-01-04 -0.081463  0.644646  1.927785  1.350816
2013-01-05  0.828296 -1.521912  0.600602 -0.970191

In [31]:
df.tail()

                   A         B         C         D
2013-02-25 -1.501011 -1.021694  3.618468 -1.440978
2013-02-26 -1.103397 -1.869983  0.001127 -0.365969
2013-02-27 -1.591436  1.150653  0.472344 -0.041762
2013-02-28  0.066886 -0.222444  0.092965  0.539387
2013-03-01 -1.436743 -0.365744 -0.020380 -0.273712

In [35]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [36]:
df.to_numpy

<bound method DataFrame.to_numpy of                    A         B         C         D
2013-01-01 -1.048692  0.360386 -1.182854 -0.499491
2013-01-02 -0.194942  0.304742  0.893744 -1.019250
2013-01-03  0.642012  0.167656 -0.283195  1.580549
2013-01-04 -0.081463  0.644646  1.927785  1.350816
2013-01-05  0.828296 -1.521912  0.600602 -0.970191
2013-01-06 -0.350331  0.991172 -0.364632  0.970969
2013-01-07  0.299434 -0.676860 -0.880719  0.942826
2013-01-08  1.527862 -0.261892  0.705327 -0.935567
2013-01-09 -0.889601  0.436435  1.764064 -0.697631
2013-01-10 -0.113860 -2.052934  0.458640  0.367777
2013-01-11  0.903211 -0.819428  1.299887 -1.826804
2013-01-12  0.080294 -0.101340  0.234933 -0.088871
2013-01-13 -0.894262 -0.210642  0.597843  0.340589
2013-01-14  1.141337  0.452305  0.536042  1.272037
2013-01-15 -1.523068 -0.397982 -0.662080 -0.249909
2013-01-16 -0.125411 -0.558174  1.990749  0.869661
2013-01-17 -1.230760 -0.469251 -0.979736 -1.101495
2013-01-18 -1.492738  0.471557 -1.814862 -0.138009
2013-01-19  0.273343  0.237834 -1.332062  1.113781
2013-01-20  0.462282 -1.005387 -1.782063  1.519188
2013-01-21  0.478651  0.910996  1.019813  0.205877
2013-01-22  0.512735  0.155044 -0.451221  1.178256
2013-01-23 -0.269503  0.811580 -0.411260 -0.984629
2013-01-24 -0.482262 -0.920652  0.380710 -0.541678
2013-01-25  1.747126  2.329431  1.009250  0.181786
2013-01-26 -2.651046  1.924508 -0.641778  0.054732
2013-01-27  0.495310  0.298392  0.583549  0.806606
2013-01-28  0.762885  0.083151  0.302653  1.057569
2013-01-29  0.719775 -0.790044  0.268341  0.605734
2013-01-30  0.787511  0.059478 -0.918322  0.043392
2013-01-31 -1.075009  0.349270 -0.658481 -3.551978
2013-02-01 -0.651552  0.753103  0.755336 -0.367985
2013-02-02 -0.382574 -1.238266 -1.535562  1.053823
2013-02-03 -0.177889  1.195215  0.023972 -2.307316
2013-02-04  0.920207  1.016769  1.039693  0.635813
2013-02-05 -0.883971 -0.502534  0.314214 -0.034018
2013-02-06  1.755333 -0.165602 -0.771176 -1.672048
2013-02-07 -0.363732 -0.857836 -2.430368  0.133214
2013-02-08  0.616806  0.480986  1.204549  1.429324
2013-02-09 -1.376865  0.469851 -0.948811 -0.403872
2013-02-10 -1.024761 -1.171817  0.662265 -0.797526
2013-02-11  0.966923 -0.617622 -0.855421 -1.050602
2013-02-12 -0.151965  0.661601 -0.525792 -0.097716
2013-02-13 -0.452225  0.805266 -0.870471 -0.197903
2013-02-14 -1.293439 -0.445742  0.067354 -0.477575
2013-02-15 -1.479228  0.500932  0.737741  0.253602
2013-02-16 -0.221017 -0.652154  0.482777  0.062206
2013-02-17  2.007059  0.792010  0.175072 -0.417816
2013-02-18 -1.420869  0.937158  0.163281  0.808734
2013-02-19 -0.816749 -0.606515  0.098430  0.858969
2013-02-20 -0.094511 -1.618828 -0.412904 -0.593632
2013-02-21 -0.313688 -0.132398 -1.358137 -0.222714
2013-02-22  0.316908 -1.826872  0.003129 -0.848116
2013-02-23 -1.366507  1.656137  1.122894 -1.389160
2013-02-24 -1.110028 -1.278609  0.933644  0.371566
2013-02-25 -1.501011 -1.021694  3.618468 -1.440978
2013-02-26 -1.103397 -1.869983  0.001127 -0.365969
2013-02-27 -1.591436  1.150653  0.472344 -0.041762
2013-02-28  0.066886 -0.222444  0.092965  0.539387
2013-03-01 -1.436743 -0.365744 -0.020380 -0.273712>

In [37]:
df

                   A         B         C         D
2013-01-01 -1.048692  0.360386 -1.182854 -0.499491
2013-01-02 -0.194942  0.304742  0.893744 -1.019250
2013-01-03  0.642012  0.167656 -0.283195  1.580549
2013-01-04 -0.081463  0.644646  1.927785  1.350816
2013-01-05  0.828296 -1.521912  0.600602 -0.970191
2013-01-06 -0.350331  0.991172 -0.364632  0.970969
2013-01-07  0.299434 -0.676860 -0.880719  0.942826
2013-01-08  1.527862 -0.261892  0.705327 -0.935567
2013-01-09 -0.889601  0.436435  1.764064 -0.697631
2013-01-10 -0.113860 -2.052934  0.458640  0.367777
2013-01-11  0.903211 -0.819428  1.299887 -1.826804
2013-01-12  0.080294 -0.101340  0.234933 -0.088871
2013-01-13 -0.894262 -0.210642  0.597843  0.340589
2013-01-14  1.141337  0.452305  0.536042  1.272037
2013-01-15 -1.523068 -0.397982 -0.662080 -0.249909
2013-01-16 -0.125411 -0.558174  1.990749  0.869661
2013-01-17 -1.230760 -0.469251 -0.979736 -1.101495
2013-01-18 -1.492738  0.471557 -1.814862 -0.138009
2013-01-19  0.273343  0.237834 -1.332062  1.113781
2013-01-20  0.462282 -1.005387 -1.782063  1.519188
2013-01-21  0.478651  0.910996  1.019813  0.205877
2013-01-22  0.512735  0.155044 -0.451221  1.178256
2013-01-23 -0.269503  0.811580 -0.411260 -0.984629
2013-01-24 -0.482262 -0.920652  0.380710 -0.541678
2013-01-25  1.747126  2.329431  1.009250  0.181786
2013-01-26 -2.651046  1.924508 -0.641778  0.054732
2013-01-27  0.495310  0.298392  0.583549  0.806606
2013-01-28  0.762885  0.083151  0.302653  1.057569
2013-01-29  0.719775 -0.790044  0.268341  0.605734
2013-01-30  0.787511  0.059478 -0.918322  0.043392
2013-01-31 -1.075009  0.349270 -0.658481 -3.551978
2013-02-01 -0.651552  0.753103  0.755336 -0.367985
2013-02-02 -0.382574 -1.238266 -1.535562  1.053823
2013-02-03 -0.177889  1.195215  0.023972 -2.307316
2013-02-04  0.920207  1.016769  1.039693  0.635813
2013-02-05 -0.883971 -0.502534  0.314214 -0.034018
2013-02-06  1.755333 -0.165602 -0.771176 -1.672048
2013-02-07 -0.363732 -0.857836 -2.430368  0.133214
2013-02-08  0.616806  0.480986  1.204549  1.429324
2013-02-09 -1.376865  0.469851 -0.948811 -0.403872
2013-02-10 -1.024761 -1.171817  0.662265 -0.797526
2013-02-11  0.966923 -0.617622 -0.855421 -1.050602
2013-02-12 -0.151965  0.661601 -0.525792 -0.097716
2013-02-13 -0.452225  0.805266 -0.870471 -0.197903
2013-02-14 -1.293439 -0.445742  0.067354 -0.477575
2013-02-15 -1.479228  0.500932  0.737741  0.253602
2013-02-16 -0.221017 -0.652154  0.482777  0.062206
2013-02-17  2.007059  0.792010  0.175072 -0.417816
2013-02-18 -1.420869  0.937158  0.163281  0.808734
2013-02-19 -0.816749 -0.606515  0.098430  0.858969
2013-02-20 -0.094511 -1.618828 -0.412904 -0.593632
2013-02-21 -0.313688 -0.132398 -1.358137 -0.222714
2013-02-22  0.316908 -1.826872  0.003129 -0.848116
2013-02-23 -1.366507  1.656137  1.122894 -1.389160
2013-02-24 -1.110028 -1.278609  0.933644  0.371566
2013-02-25 -1.501011 -1.021694  3.618468 -1.440978
2013-02-26 -1.103397 -1.869983  0.001127 -0.365969
2013-02-27 -1.591436  1.150653  0.472344 -0.041762
2013-02-28  0.066886 -0.222444  0.092965  0.539387
2013-03-01 -1.436743 -0.365744 -0.020380 -0.273712

In [38]:
df.T

,2013-01-01,2013-01-02,2013-01-03,2013-01-04,2013-01-05,2013-01-06,2013-01-07,2013-01-08,2013-01-09,2013-01-10,...,2013-02-20,2013-02-21,2013-02-22,2013-02-23,2013-02-24,2013-02-25,2013-02-26,2013-02-27,2013-02-28,2013-03-01
A,-1.048692,-0.194942,0.642012,-0.081463,0.828296,-0.350331,0.299434,1.527862,-0.889601,-0.113860,...,-0.094511,-0.313688,0.316908,-1.366507,-1.110028,-1.501011,-1.103397,-1.591436,0.066886,-1.436743
B,0.360386,0.304742,0.167656,0.644646,-1.521912,0.991172,-0.676860,-0.261892,0.436435,-2.052934,...,-1.618828,-0.132398,-1.826872,1.656137,-1.278609,-1.021694,-1.869983,1.150653,-0.222444,-0.365744
C,-1.182854,0.893744,-0.283195,1.927785,0.600602,-0.364632,-0.880719,0.705327,1.764064,0.458640,...,-0.412904,-1.358137,0.003129,1.122894,0.933644,3.618468,0.001127,0.472344,0.092965,-0.020380
D,-0.499491,-1.019250,1.580549,1.350816,-0.970191,0.970969,0.942826,-0.935567,-0.697631,0.367777,...,-0.593632,-0.222714,-0.848116,-1.389160,0.371566,-1.440978,-0.365969,-0.041762,0.539387,-0.273712

In [39]:
df

                   A         B         C         D
2013-01-01 -1.048692  0.360386 -1.182854 -0.499491
2013-01-02 -0.194942  0.304742  0.893744 -1.019250
2013-01-03  0.642012  0.167656 -0.283195  1.580549
2013-01-04 -0.081463  0.644646  1.927785  1.350816
2013-01-05  0.828296 -1.521912  0.600602 -0.970191
2013-01-06 -0.350331  0.991172 -0.364632  0.970969
2013-01-07  0.299434 -0.676860 -0.880719  0.942826
2013-01-08  1.527862 -0.261892  0.705327 -0.935567
2013-01-09 -0.889601  0.436435  1.764064 -0.697631
2013-01-10 -0.113860 -2.052934  0.458640  0.367777
2013-01-11  0.903211 -0.819428  1.299887 -1.826804
2013-01-12  0.080294 -0.101340  0.234933 -0.088871
2013-01-13 -0.894262 -0.210642  0.597843  0.340589
2013-01-14  1.141337  0.452305  0.536042  1.272037
2013-01-15 -1.523068 -0.397982 -0.662080 -0.249909
2013-01-16 -0.125411 -0.558174  1.990749  0.869661
2013-01-17 -1.230760 -0.469251 -0.979736 -1.101495
2013-01-18 -1.492738  0.471557 -1.814862 -0.138009
2013-01-19  0.273343  0.237834 -1.332062  1.113781
2013-01-20  0.462282 -1.005387 -1.782063  1.519188
2013-01-21  0.478651  0.910996  1.019813  0.205877
2013-01-22  0.512735  0.155044 -0.451221  1.178256
2013-01-23 -0.269503  0.811580 -0.411260 -0.984629
2013-01-24 -0.482262 -0.920652  0.380710 -0.541678
2013-01-25  1.747126  2.329431  1.009250  0.181786
2013-01-26 -2.651046  1.924508 -0.641778  0.054732
2013-01-27  0.495310  0.298392  0.583549  0.806606
2013-01-28  0.762885  0.083151  0.302653  1.057569
2013-01-29  0.719775 -0.790044  0.268341  0.605734
2013-01-30  0.787511  0.059478 -0.918322  0.043392
2013-01-31 -1.075009  0.349270 -0.658481 -3.551978
2013-02-01 -0.651552  0.753103  0.755336 -0.367985
2013-02-02 -0.382574 -1.238266 -1.535562  1.053823
2013-02-03 -0.177889  1.195215  0.023972 -2.307316
2013-02-04  0.920207  1.016769  1.039693  0.635813
2013-02-05 -0.883971 -0.502534  0.314214 -0.034018
2013-02-06  1.755333 -0.165602 -0.771176 -1.672048
2013-02-07 -0.363732 -0.857836 -2.430368  0.133214
2013-02-08  0.616806  0.480986  1.204549  1.429324
2013-02-09 -1.376865  0.469851 -0.948811 -0.403872
2013-02-10 -1.024761 -1.171817  0.662265 -0.797526
2013-02-11  0.966923 -0.617622 -0.855421 -1.050602
2013-02-12 -0.151965  0.661601 -0.525792 -0.097716
2013-02-13 -0.452225  0.805266 -0.870471 -0.197903
2013-02-14 -1.293439 -0.445742  0.067354 -0.477575
2013-02-15 -1.479228  0.500932  0.737741  0.253602
2013-02-16 -0.221017 -0.652154  0.482777  0.062206
2013-02-17  2.007059  0.792010  0.175072 -0.417816
2013-02-18 -1.420869  0.937158  0.163281  0.808734
2013-02-19 -0.816749 -0.606515  0.098430  0.858969
2013-02-20 -0.094511 -1.618828 -0.412904 -0.593632
2013-02-21 -0.313688 -0.132398 -1.358137 -0.222714
2013-02-22  0.316908 -1.826872  0.003129 -0.848116
2013-02-23 -1.366507  1.656137  1.122894 -1.389160
2013-02-24 -1.110028 -1.278609  0.933644  0.371566
2013-02-25 -1.501011 -1.021694  3.618468 -1.440978
2013-02-26 -1.103397 -1.869983  0.001127 -0.365969
2013-02-27 -1.591436  1.150653  0.472344 -0.041762
2013-02-28  0.066886 -0.222444  0.092965  0.539387
2013-03-01 -1.436743 -0.365744 -0.020380 -0.273712

In [42]:
df.describe()

               A          B          C          D
count  60.000000  60.000000  60.000000  60.000000
mean   -0.222082  -0.049548   0.074182  -0.083286
std     0.990304   0.938959   1.049659   1.000347
min    -2.651046  -2.052934  -2.430368  -3.551978
25%    -1.055271  -0.658330  -0.659380  -0.619632
50%    -0.207980  -0.020931   0.130855  -0.065317
75%     0.499666   0.536861   0.673030   0.678511
max     2.007059   2.329431   3.618468   1.580549

In [48]:
df.sort_index(axis=0,ascending=False)

                   A         B         C         D
2013-03-01 -1.436743 -0.365744 -0.020380 -0.273712
2013-02-28  0.066886 -0.222444  0.092965  0.539387
2013-02-27 -1.591436  1.150653  0.472344 -0.041762
2013-02-26 -1.103397 -1.869983  0.001127 -0.365969
2013-02-25 -1.501011 -1.021694  3.618468 -1.440978
2013-02-24 -1.110028 -1.278609  0.933644  0.371566
2013-02-23 -1.366507  1.656137  1.122894 -1.389160
2013-02-22  0.316908 -1.826872  0.003129 -0.848116
2013-02-21 -0.313688 -0.132398 -1.358137 -0.222714
2013-02-20 -0.094511 -1.618828 -0.412904 -0.593632
2013-02-19 -0.816749 -0.606515  0.098430  0.858969
2013-02-18 -1.420869  0.937158  0.163281  0.808734
2013-02-17  2.007059  0.792010  0.175072 -0.417816
2013-02-16 -0.221017 -0.652154  0.482777  0.062206
2013-02-15 -1.479228  0.500932  0.737741  0.253602
2013-02-14 -1.293439 -0.445742  0.067354 -0.477575
2013-02-13 -0.452225  0.805266 -0.870471 -0.197903
2013-02-12 -0.151965  0.661601 -0.525792 -0.097716
2013-02-11  0.966923 -0.617622 -0.855421 -1.050602
2013-02-10 -1.024761 -1.171817  0.662265 -0.797526
2013-02-09 -1.376865  0.469851 -0.948811 -0.403872
2013-02-08  0.616806  0.480986  1.204549  1.429324
2013-02-07 -0.363732 -0.857836 -2.430368  0.133214
2013-02-06  1.755333 -0.165602 -0.771176 -1.672048
2013-02-05 -0.883971 -0.502534  0.314214 -0.034018
2013-02-04  0.920207  1.016769  1.039693  0.635813
2013-02-03 -0.177889  1.195215  0.023972 -2.307316
2013-02-02 -0.382574 -1.238266 -1.535562  1.053823
2013-02-01 -0.651552  0.753103  0.755336 -0.367985
2013-01-31 -1.075009  0.349270 -0.658481 -3.551978
2013-01-30  0.787511  0.059478 -0.918322  0.043392
2013-01-29  0.719775 -0.790044  0.268341  0.605734
2013-01-28  0.762885  0.083151  0.302653  1.057569
2013-01-27  0.495310  0.298392  0.583549  0.806606
2013-01-26 -2.651046  1.924508 -0.641778  0.054732
2013-01-25  1.747126  2.329431  1.009250  0.181786
2013-01-24 -0.482262 -0.920652  0.380710 -0.541678
2013-01-23 -0.269503  0.811580 -0.411260 -0.984629
2013-01-22  0.512735  0.155044 -0.451221  1.178256
2013-01-21  0.478651  0.910996  1.019813  0.205877
2013-01-20  0.462282 -1.005387 -1.782063  1.519188
2013-01-19  0.273343  0.237834 -1.332062  1.113781
2013-01-18 -1.492738  0.471557 -1.814862 -0.138009
2013-01-17 -1.230760 -0.469251 -0.979736 -1.101495
2013-01-16 -0.125411 -0.558174  1.990749  0.869661
2013-01-15 -1.523068 -0.397982 -0.662080 -0.249909
2013-01-14  1.141337  0.452305  0.536042  1.272037
2013-01-13 -0.894262 -0.210642  0.597843  0.340589
2013-01-12  0.080294 -0.101340  0.234933 -0.088871
2013-01-11  0.903211 -0.819428  1.299887 -1.826804
2013-01-10 -0.113860 -2.052934  0.458640  0.367777
2013-01-09 -0.889601  0.436435  1.764064 -0.697631
2013-01-08  1.527862 -0.261892  0.705327 -0.935567
2013-01-07  0.299434 -0.676860 -0.880719  0.942826
2013-01-06 -0.350331  0.991172 -0.364632  0.970969
2013-01-05  0.828296 -1.521912  0.600602 -0.970191
2013-01-04 -0.081463  0.644646  1.927785  1.350816
2013-01-03  0.642012  0.167656 -0.283195  1.580549
2013-01-02 -0.194942  0.304742  0.893744 -1.019250
2013-01-01 -1.048692  0.360386 -1.182854 -0.499491

In [54]:
df.sort_values(by="B",ascending=False)

                   A         B         C         D
2013-01-25  1.747126  2.329431  1.009250  0.181786
2013-01-26 -2.651046  1.924508 -0.641778  0.054732
2013-02-23 -1.366507  1.656137  1.122894 -1.389160
2013-02-03 -0.177889  1.195215  0.023972 -2.307316
2013-02-27 -1.591436  1.150653  0.472344 -0.041762
2013-02-04  0.920207  1.016769  1.039693  0.635813
2013-01-06 -0.350331  0.991172 -0.364632  0.970969
2013-02-18 -1.420869  0.937158  0.163281  0.808734
2013-01-21  0.478651  0.910996  1.019813  0.205877
2013-01-23 -0.269503  0.811580 -0.411260 -0.984629
2013-02-13 -0.452225  0.805266 -0.870471 -0.197903
2013-02-17  2.007059  0.792010  0.175072 -0.417816
2013-02-01 -0.651552  0.753103  0.755336 -0.367985
2013-02-12 -0.151965  0.661601 -0.525792 -0.097716
2013-01-04 -0.081463  0.644646  1.927785  1.350816
2013-02-15 -1.479228  0.500932  0.737741  0.253602
2013-02-08  0.616806  0.480986  1.204549  1.429324
2013-01-18 -1.492738  0.471557 -1.814862 -0.138009
2013-02-09 -1.376865  0.469851 -0.948811 -0.403872
2013-01-14  1.141337  0.452305  0.536042  1.272037
2013-01-09 -0.889601  0.436435  1.764064 -0.697631
2013-01-01 -1.048692  0.360386 -1.182854 -0.499491
2013-01-31 -1.075009  0.349270 -0.658481 -3.551978
2013-01-02 -0.194942  0.304742  0.893744 -1.019250
2013-01-27  0.495310  0.298392  0.583549  0.806606
2013-01-19  0.273343  0.237834 -1.332062  1.113781
2013-01-03  0.642012  0.167656 -0.283195  1.580549
2013-01-22  0.512735  0.155044 -0.451221  1.178256
2013-01-28  0.762885  0.083151  0.302653  1.057569
2013-01-30  0.787511  0.059478 -0.918322  0.043392
2013-01-12  0.080294 -0.101340  0.234933 -0.088871
2013-02-21 -0.313688 -0.132398 -1.358137 -0.222714
2013-02-06  1.755333 -0.165602 -0.771176 -1.672048
2013-01-13 -0.894262 -0.210642  0.597843  0.340589
2013-02-28  0.066886 -0.222444  0.092965  0.539387
2013-01-08  1.527862 -0.261892  0.705327 -0.935567
2013-03-01 -1.436743 -0.365744 -0.020380 -0.273712
2013-01-15 -1.523068 -0.397982 -0.662080 -0.249909
2013-02-14 -1.293439 -0.445742  0.067354 -0.477575
2013-01-17 -1.230760 -0.469251 -0.979736 -1.101495
2013-02-05 -0.883971 -0.502534  0.314214 -0.034018
2013-01-16 -0.125411 -0.558174  1.990749  0.869661
2013-02-19 -0.816749 -0.606515  0.098430  0.858969
2013-02-11  0.966923 -0.617622 -0.855421 -1.050602
2013-02-16 -0.221017 -0.652154  0.482777  0.062206
2013-01-07  0.299434 -0.676860 -0.880719  0.942826
2013-01-29  0.719775 -0.790044  0.268341  0.605734
2013-01-11  0.903211 -0.819428  1.299887 -1.826804
2013-02-07 -0.363732 -0.857836 -2.430368  0.133214
2013-01-24 -0.482262 -0.920652  0.380710 -0.541678
2013-01-20  0.462282 -1.005387 -1.782063  1.519188
2013-02-25 -1.501011 -1.021694  3.618468 -1.440978
2013-02-10 -1.024761 -1.171817  0.662265 -0.797526
2013-02-02 -0.382574 -1.238266 -1.535562  1.053823
2013-02-24 -1.110028 -1.278609  0.933644  0.371566
2013-01-05  0.828296 -1.521912  0.600602 -0.970191
2013-02-20 -0.094511 -1.618828 -0.412904 -0.593632
2013-02-22  0.316908 -1.826872  0.003129 -0.848116
2013-02-26 -1.103397 -1.869983  0.001127 -0.365969
2013-01-10 -0.113860 -2.052934  0.458640  0.367777

In [79]:
df2.loc[1:3,["A","B"]]

     A          B
1  1.0 2013-01-02
2  1.0 2013-01-02
3  1.0 2013-01-02

In [84]:
df.loc["2013-01-01", ["A"]]

A   -1.048692
Name: 2013-01-01 00:00:00, dtype: float64

In [89]:
df.iloc[0:3,2:4]

                   C         D
2013-01-01 -1.182854 -0.499491
2013-01-02  0.893744 -1.019250
2013-01-03 -0.283195  1.580549

In [93]:
df[df["A"]>1]

                   A         B         C         D
2013-01-08  1.527862 -0.261892  0.705327 -0.935567
2013-01-14  1.141337  0.452305  0.536042  1.272037
2013-01-25  1.747126  2.329431  1.009250  0.181786
2013-02-06  1.755333 -0.165602 -0.771176 -1.672048
2013-02-17  2.007059  0.792010  0.175072 -0.417816

In [94]:
df = df.iloc[0:6,:]

In [95]:
df

                   A         B         C         D
2013-01-01 -1.048692  0.360386 -1.182854 -0.499491
2013-01-02 -0.194942  0.304742  0.893744 -1.019250
2013-01-03  0.642012  0.167656 -0.283195  1.580549
2013-01-04 -0.081463  0.644646  1.927785  1.350816
2013-01-05  0.828296 -1.521912  0.600602 -0.970191
2013-01-06 -0.350331  0.991172 -0.364632  0.970969

In [96]:
df["E"] = ["one","two","three","four","five","six"]

/var/folders/6x/wgh739ls5z333f70z53v36600000gn/T/ipykernel_2749/319696895.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["E"] = ["one","two","three","four","five","six"]

In [97]:
df

                   A         B         C         D      E
2013-01-01 -1.048692  0.360386 -1.182854 -0.499491    one
2013-01-02 -0.194942  0.304742  0.893744 -1.019250    two
2013-01-03  0.642012  0.167656 -0.283195  1.580549  three
2013-01-04 -0.081463  0.644646  1.927785  1.350816   four
2013-01-05  0.828296 -1.521912  0.600602 -0.970191   five
2013-01-06 -0.350331  0.991172 -0.364632  0.970969    six

In [98]:
df[df["E"].isin(["one","two","three"])]

                   A         B         C         D      E
2013-01-01 -1.048692  0.360386 -1.182854 -0.499491    one
2013-01-02 -0.194942  0.304742  0.893744 -1.019250    two
2013-01-03  0.642012  0.167656 -0.283195  1.580549  three

In [110]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range("20130102", periods=6))

In [111]:
df.at[dates[0], "A"] = 0

In [114]:
df

                   A         B         C         D      E
2013-01-01  0.000000  0.360386 -1.182854 -0.499491    one
2013-01-02 -0.194942  0.304742  0.893744 -1.019250    two
2013-01-03  0.642012  0.167656 -0.283195  1.580549  three
2013-01-04 -0.081463  0.644646  1.927785  1.350816   four
2013-01-05  0.828296 -1.521912  0.600602 -0.970191   five
2013-01-06 -0.350331  0.991172 -0.364632  0.970969    six

In [115]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns) + ["E"])

In [117]:
df1.loc[dates[0] : dates[1], "E"] = 1

In [118]:
df1

                   A         B         C         D      E      E
2013-01-01  0.000000  0.360386 -1.182854 -0.499491      1      1
2013-01-02 -0.194942  0.304742  0.893744 -1.019250      1      1
2013-01-03  0.642012  0.167656 -0.283195  1.580549  three  three
2013-01-04 -0.081463  0.644646  1.927785  1.350816   four   four