# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [2]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
cars2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")

print(cars1.head())
print(cars2.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0       1  chevrolet chevelle malibu         NaN          NaN          NaN
1       1          buick skylark 320         NaN          NaN          NaN
2       1         plymouth satellite         NaN          NaN          NaN
3       1              amc rebel sst         NaN          NaN          NaN
4       1                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  33.0          4            91         53    1795          17.4     76
1  20.0          6           225        100    3651          17.7     76
2  18.0          6           250         78    3574          21.0     76
3  18.5          6           250        110    3645          16.2     76
4  17.5          6           258         95    3193          17.8     76

   origin                 car
0       3         honda civic
1       1      dodge aspen se
2       1   ford granada ghia
3       1  pontiac ventura sj
4       1       amc pacer d/l

### Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [4]:
cars1 = cars1.loc[:,"mpg":'car']

### Step 5. What is the number of observations in each dataset?

In [5]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

In [10]:
cars2.describe

<bound method NDFrame.describe of       mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0    33.0          4            91         53    1795          17.4     76
1    20.0          6           225        100    3651          17.7     76
2    18.0          6           250         78    3574          21.0     76
3    18.5          6           250        110    3645          16.2     76
4    17.5          6           258         95    3193          17.8     76
..    ...        ...           ...        ...     ...           ...    ...
195  27.0          4           140         86    2790          15.6     82
196  44.0          4            97         52    2130          24.6     82
197  32.0          4           135         84    2295          11.6     82
198  28.0          4           120         79    2625          18.6     82
199  31.0          4           119         82    2720          19.4     82

     origin                 car
0         3         honda civic
1         1      dodge aspen se
2         1   ford granada ghia
3         1  pontiac ventura sj
4         1       amc pacer d/l
..      ...                 ...
195       1     ford mustang gl
196       2           vw pickup
197       1       dodge rampage
198       1         ford ranger
199       1          chevy s-10

[200 rows x 9 columns]>

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [14]:
cars = pd.concat([cars1,cars2])
cars.shape

(398, 9)

### Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [16]:
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')
nr_owners

array([30119, 22050, 32363, 21999, 21420, 48323, 17911, 23212, 24810,
       61250, 15809, 27215, 65968, 43051, 17567, 17137, 25407, 63570,
       23288, 45625, 64405, 30067, 23060, 37779, 70829, 58606, 41787,
       26220, 19630, 23460, 30607, 27110, 38592, 67495, 64038, 18866,
       70909, 60834, 53422, 68319, 59157, 39212, 25357, 44109, 15217,
       70649, 35994, 62159, 55700, 52319, 45736, 53097, 43088, 48192,
       44182, 24499, 45920, 31012, 43736, 41445, 26304, 64688, 27998,
       59282, 59441, 64130, 23783, 65738, 67482, 57939, 52814, 58450,
       39256, 45627, 68088, 66189, 50272, 61984, 19706, 36983, 48051,
       20925, 26157, 51526, 50684, 21217, 29055, 42390, 16662, 31338,
       32818, 54102, 72893, 40954, 22597, 31267, 19630, 49630, 20310,
       52609, 68379, 62483, 17522, 69322, 19368, 34216, 71526, 56244,
       26242, 60384, 17070, 68337, 45821, 53247, 50426, 48280, 44532,
       62073, 23354, 34406, 15815, 64763, 47054, 29911, 61625, 56398,
       16082, 57046, 50617, 66624, 34078, 57517, 42808, 33143, 56096,
       53471, 72020, 52487, 36029, 51510, 29718, 19110, 68169, 69296,
       62092, 32400, 63429, 21340, 68262, 66634, 47856, 26678, 21870,
       66238, 46405, 49903, 66390, 65002, 52214, 27936, 26460, 40350,
       51418, 18440, 37821, 16366, 16452, 60579, 22691, 28156, 15303,
       62076, 45046, 45302, 38319, 43045, 56700, 39962, 71875, 56311,
       15442, 46531, 26770, 63764, 40399, 21706, 50642, 26510, 43759,
       34350, 65543, 26597, 20387, 30038, 43300, 28802, 69341, 24466,
       21482, 46157, 52054, 37488, 38970, 55604, 34140, 22223, 36491,
       62069, 47122, 40934, 38429, 70435, 42028, 33234, 29964, 35808,
       65800, 70150, 51937, 41017, 18959, 28216, 47656, 65699, 58782,
       36199, 34850, 17644, 72456, 22290, 15058, 63811, 69487, 36714,
       43749, 50408, 24517, 63366, 65796, 45059, 33266, 39324, 33520,
       68557, 49549, 37979, 52203, 45840, 71170, 28578, 23365, 44910,
       47159, 24642, 16131, 30591, 31759, 44086, 41174, 31768, 27542,
       17794, 42862, 52962, 53008, 24239, 45793, 37942, 51614, 49496,
       62162, 20038, 70548, 53054, 22121, 58030, 52755, 64214, 52161,
       69523, 65635, 37640, 38806, 15932, 27821, 59567, 26916, 56295,
       71729, 65948, 17588, 19492, 36973, 42105, 30202, 24934, 41492,
       37151, 26096, 62224, 43354, 68888, 71714, 27313, 56816, 32553,
       53296, 43000, 32711, 65537, 20533, 21394, 17512, 51871, 20494,
       27371, 17369, 67573, 47275, 50597, 54830, 45518, 16853, 47101,
       23040, 35172, 49656, 25581, 51929, 64057, 22586, 57765, 43950,
       16571, 24155, 68406, 25971, 35564, 44798, 54543, 61264, 22648,
       49235, 42939, 60788, 29230, 39261, 37170, 71326, 34549, 28495,
       37789, 46715, 68128, 35611, 31300, 61439, 15822, 62953, 54300,
       36254, 31595, 44191, 37129, 49382, 48350, 42826, 35380, 66716,
       45912, 32986, 44983, 55474, 57054, 46338, 48585, 37682, 49279,
       62947, 32064, 21122, 54237, 40475, 43690, 65715, 32768, 50861,
       47248, 41686, 42273, 52918, 22429, 51392, 42929, 31662, 29640,
       34085, 50508])

### Step 8. Add the column owners to cars

In [19]:
cars['owners'] = nr_owners

In [20]:
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,42929
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,31662
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,29640
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,34085
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,50508